<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.zhizhong.farmer"
          xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA"/>


    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />

<!--微信-->
    <!-- 微信支付权限-->
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:name=".MyApplication"
        android:theme="@style/AppTheme.NoActionBar">
        <activity
            android:name="com.zhizhong.farmer.module.home.activity.SelectUserActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--home-->
        <activity android:name="com.zhizhong.farmer.module.home.activity.CityActivity"/>
        <activity android:name="com.zhizhong.farmer.module.home.activity.MainActivity"  />
        <activity android:name="com.zhizhong.farmer.module.home.activity.WebActivity"/>
        <!--my_farmer-->
        <activity android:name="com.zhizhong.farmer.module.my.activity.AccountListActivity"/>
        <activity android:name="com.zhizhong.farmer.module.my.activity.AddBankCardActivity"/>
        <activity android:name="com.zhizhong.farmer.module.my.activity.AddJuZhuDiActivity"/>
        <activity android:name="com.zhizhong.farmer.module.my.activity.CropActivity"/>
        <activity android:name="com.zhizhong.farmer.module.my.activity.FenXiaoCodeActivity"/>
        <activity android:name="com.zhizhong.farmer.module.my.activity.ForgetPWDActivity" android:windowSoftInputMode="adjustResize"/>
        <activity android:name="com.zhizhong.farmer.module.my.activity.JuZhuDiActivity"/>
        <activity android:name="com.zhizhong.farmer.module.my.activity.LoginActivity" android:windowSoftInputMode="adjustResize"/>
        <activity android:name="com.zhizhong.farmer.module.my.activity.MyDataActivity"/>
        <activity android:name="com.zhizhong.farmer.module.my.activity.MyFarmerActivity"/>
        <activity android:name="com.zhizhong.farmer.module.my.activity.MyFenXiaoActivity"/>
        <activity android:name="com.zhizhong.farmer.module.my.activity.MyMessageActivity"/>
        <activity android:name="com.zhizhong.farmer.module.my.activity.MyMessageDetailActivity"/>
        <activity android:name="com.zhizhong.farmer.module.my.activity.MyOrderListActivity"/>
        <activity android:name="com.zhizhong.farmer.module.my.activity.MyVouchersActivity"/>
        <activity android:name="com.zhizhong.farmer.module.my.activity.MyXiaJiActivity"/>
        <activity android:name="com.zhizhong.farmer.module.my.activity.OrderDetailsActivity"/>
        <activity android:name="com.zhizhong.farmer.module.my.activity.RegisterActivity" android:windowSoftInputMode="adjustResize"/>
        <activity android:name="com.zhizhong.farmer.module.my.activity.TiXianActivity"/>
        <activity android:name="com.zhizhong.farmer.module.my.activity.UpdatePWDActivity"/>
        <activity android:name="com.zhizhong.farmer.module.home.activity.ZhiBaoZhongXinDetailActivity"/>
        <activity android:name="com.zhizhong.farmer.module.home.activity.ZhiBaoZhongXinListActivity"/>
        <!--微信-->
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".wxapi.WXPayEntryActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:scheme="wx6bcdf0f6ebbd4107"/>
            </intent-filter>
        </activity>
        <!--下订单-->
        <activity android:name="com.zhizhong.farmer.module.my.activity.AddFarmerActivity"/>
        <activity android:name="com.zhizhong.farmer.module.my.activity.OfflinePayActivity"/>
        <activity android:name="com.zhizhong.farmer.module.order.activity.PaySuccessActivity"/>
        <activity android:name="com.zhizhong.farmer.module.order.activity.SelectOhterFarmerActivity"/>

        <!--提现账户-->
        <activity android:name="com.zhizhong.farmer.module.tgyaccount.activity.TGYAccountListActivity"/>
        <activity android:name="com.zhizhong.farmer.module.tgyaccount.activity.TGYAddBankCardActivity"/>
        <!--资讯-->
        <activity android:name="com.zhizhong.farmer.module.zixun.activity.ZiXunDetailActivity"/>
        <!--推广员-->
        <activity android:name="com.zhizhong.farmer.module.tuiguangyuan.activity.TGYMyActivity" android:launchMode="singleTask"/>
        <activity android:name="com.zhizhong.farmer.module.tuiguangyuan.activity.TGYMyDataActivity"/>
        <activity android:name="com.zhizhong.farmer.module.tuiguangyuan.activity.TGYForgetPWDActivity" android:windowSoftInputMode="adjustResize"/>
        <activity android:name="com.zhizhong.farmer.module.tuiguangyuan.activity.TGYLoginActivity" android:windowSoftInputMode="adjustResize"/>
        <activity android:name="com.zhizhong.farmer.module.tuiguangyuan.activity.TGYMyFarmerActivity"/>
        <activity android:name="com.zhizhong.farmer.module.tuiguangyuan.activity.TGYMyMessageActivity"/>
        <activity android:name="com.zhizhong.farmer.module.tuiguangyuan.activity.TGYMyMessageDetailActivity"/>
        <activity android:name="com.zhizhong.farmer.module.tuiguangyuan.activity.TGYMyYongJinActivity"/>
        <activity android:name="com.zhizhong.farmer.module.tuiguangyuan.activity.TGYRegisterActivity" android:windowSoftInputMode="adjustResize"/>
        <activity android:name="com.zhizhong.farmer.module.tuiguangyuan.activity.TGYTiXianActivity"/>
        <activity android:name="com.zhizhong.farmer.module.tuiguangyuan.activity.TGYUpdatePWDActivity"/>




        <activity
            android:name="com.umeng.socialize.media.WBShareCallBackActivity"
            android:configChanges="keyboardHidden|orientation"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:exported="false"
            android:screenOrientation="portrait" >
        </activity>

        <activity
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen"
            android:launchMode="singleTask"
            android:name="com.sina.weibo.sdk.share.WbShareTransActivity">
            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

        </activity>

        <!--qq-->
        <activity
            android:name="com.umeng.qq.tencent.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true" >

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="tencent1106315352" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.umeng.qq.tencent.AssistActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:configChanges="orientation|keyboardHidden|screenSize"/>

        <!--友盟-->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="599e4988f43e4878dc00192d" >
        </meta-data>


    </application>

</manifest>